<div class="col-xs-12">
  <div class="col-xs-4 col-xs-offset-1">
    <h3 class="headers">Support</h3>
  </div>
</div>

<div class="col-xs-4 col-xs-offset-2">
  <a href="#signup" class="index">Signing up</a> <br \>
  <a href="#modbot" class="index">Moderation Bot</a> <br \>
  <a href="#broadview" class="index">Broadcasting View</a> <br \>
  <a href="#alerts" class="index">Alerts</a> <br \>
</div>

<a href="" class="back-to-top"><span class="glyphicon glyphicon glyphicon-circle-arrow-up"></span></a>

<div id="signup" class="col-xs-6 col-xs-offset-3">
  <%= render "users_layouts/users_signup" %>
</div>

<div id="modbot" class="col-xs-6 col-xs-offset-3">
  <%= render "users_layouts/users_modbot" %>
</div>

<div id="broadview" class="col-xs-6 col-xs-offset-3">
  <%= render "users_layouts/users_broadcastingview" %>
</div>

<div id="alerts" class="col-xs-6 col-xs-offset-3">
  <%= render "users_layouts/users_alerts" %>
</div>