<div class="col-xs-12">
  <div class="col-xs-4 col-xs-offset-1">
    <h3 class="headers">Contact</h3>
  </div>
</div>

<div class="col-xs-2 col-xs-offset-5">
  <%= render "contacts_layouts/contacts_submitform" %>
</div>