<div class="col-xs-4 col-xs-offset-1" style="margin-bottom:42px;">
  <h3 class="headers">Dashboard</h3>
</div>

<div class="row" style="margin:42px;">
  <div class="col-xs-12">
    <div class="col-xs-1 col-xs-offset-1">
      <%= render "users_layouts/users_dashboardcontrol" %>
    </div>

    <div class="col-xs-3">
      <h3>Chat</h3>
      <%= render "users_layouts/users_chatwindow" %>
    </div>

    <div class="col-xs-6">
      <h3>Current Broadcast View <a href="" class="index" style="font-size:14px !important">Edit</a></h3>
      <%= render "users_layouts/users_alertview" %>
    </div>
  </div>
</div>

