<div id="example-one" contenteditable="true">
  <style scoped>
    #example-one { margin-bottom: 10px; }
    [contenteditable="true"] { padding: 10px; background-color: greenyellow; height: 512px; }
  </style>
</div>

<div class="col-xs-1 col-xs-offset-11"><a href="" class="index">Popout</a></div>