<div id="example-one" contenteditable="true">
  <style scoped>
    #example-one { margin-bottom: 10px; }
    [contenteditable="true"] { padding: 10px; background-color: greenyellow; height: 512px; }
  </style>
</div>